{
  "extends": ["react-app", "plugin:jsx-a11y/recommended"],
  "plugins": ["jsx-a11y"],
  "rules": {
    // "jsx-a11y/rule-name": "warn",
    // "aria-unsupported-elements": "error"
    "react-hooks/exhaustive-deps": 0
  }
}
