{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": ["jsx-a11y"],
  "rules": {
    "strict": 0,
    "arrow-parens": 0,
    "comma-dangle": 0,
    // "jsx-a11y/rule-name": "warn",
    // "aria-unsupported-elements": "error"
    "react-hooks/exhaustive-deps": 0,
    "semi": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ]
  }
  // "rules": {
  //   "no-alert": 0,
  //   "no-shadow": 0,
  //   "no-unused-expressions": 0,
  //   "jsx-a11y/anchor-is-valid": 0,
  //   "import/prefer-default-export": 0,
  //   "import/no-extraneous-dependencies": 0,
  //   "react/destructuring-assignment": [0, "always", { "ignoreClassFields": true }],
  //   "react/state-in-constructor": [0, "never"],
  //   "react/jsx-props-no-spreading": [
  //     0,
  //     {
  //       "explicitSpread": "ignore"
  //     }
  //   ],
  //   "no-console": ["error", { "allow": ["warn", "error"] }],
  //   "no-underscore-dangle": 0,
  //   "jsx-a11y/label-has-associated-control": [
  //     2,
  //     {
  //       "labelComponents": ["CustomInputLabel"],
  //       "labelAttributes": ["label"],
  //       "controlComponents": ["CustomInput"],
  //       "depth": 3
  //     }
  //   ]
  // },
}
